<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>test！！！！！！！！！！！！！</h1>
    <% require 'pg' %>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>
    <form action="indicate.cgi" method="POST">
       Veuillez saisir les caractères ci-dessous<br><br>
      <input type="text"  name="input" ><br>
      <input type="submit" name="Soumettre" >
    </form>
    <% result = connection.exec("select weight, give_for from crops;") %>
    <% data = [] %>
    <% result.each do |record| %>
      <%  data << "La taille de la courge amère：#{record["weight"]}　Qui a vendu：#{record["give_for"]}" %>
    <% end %>
    <form action="goya.cgi" method="POST">
       Appuyez sur le bouton ci-dessous pour accéder à la page d'informations sur la taille de la courge amère et la personne qui l'a vendue.<br><br>
       <!-- Attribuez les données que vous souhaitez envoyer à value -->
       <!-- Utilisez name = "goya" comme marqueur d'information -->
      <input type="text" name="goya" value="<%= data.join(' ') %>">
      <input type="submit" name="Soumettre" >
    </form>
  </body>
</html>
